.sidenav{
    position: absolute;
    top: 70px;
    padding-left: 10px;
    height: calc(100vh - 196px);
    overflow-y: scroll;
}

.main-content{
    position: absolute;
    top: 70px;
    left: calc(25% + 25px);
    height: calc(100vh - 196px);
    overflow-y: scroll;
    width: calc(100vw - 25% - 25px);
    scroll-behavior: smooth;
}

.sidenav::-webkit-scrollbar,
.main-content::-webkit-scrollbar{
    width: 7px;
}

.sidenav::-webkit-scrollbar-thumb,
.main-content::-webkit-scrollbar-thumb{
    background: var(--secondary-color);
}

.sidenav::-webkit-scrollbar-thumb:hover,
.main-content::-webkit-scrollbar-thumb:hover{
    background: rgba(var(--secondary-color-rgb), 0.7);
}

@media screen and (max-width:991px) {
    .sidenav,
    .main-content
    {
        top: 72px;
        height: calc(100vh - 190px);
    }
}

@media screen and (max-width:800px) {
    .sidenav{
        height: 165px;
        width: 100vw !important;
    }
    .main-content{
        top: 250px;
        left: 0;
        width: 100%;
        padding: 1.5rem 1.5rem 10rem !important;
        height: calc(100vh - 408px);
    }
}