.download-button{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 40px;
    z-index: 1000;
}

@media screen and (max-width:800px) {
    .download-button span{
        display: none;
    }
}